@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 124 58 237;
    /* #7C3AED */
    --color-secondary: 245 158 11;
    /* #F59E0B */
  }

  body {
    @apply antialiased text-gray-900 bg-gray-50;
    font-family: 'Inter', system-ui, sans-serif;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .mask-linear {
    mask-image: linear-gradient(to right, black 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 85%, transparent 100%);
  }
}